<div data-ng-controller="EvolucaoCtrl">
    <div class="row" ng-repeat="d in dados.evolucao" repeat-done="draw()">
        <div class="col-xs-12">
            <div id="{{ 'chart-' + d.Geracao }}"></div>
        </div>
    </div>
</div>

<!-- Erro maldito!!!!! BUG -->

<div data-ng-controller="EvolucaoCtrl">
    <div class="row" ng-repeat="d in dados.evolucao" repeat-done="draw()">
        <div class="col-xs-12">
            <div id="{{ 'chart-' + d.Geracao }}"></div>
        </div>
    </div>
</div>
